@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;1,100&display=swap');

:root {
    --cor-fundo: #ffffff;
    --cor-headers: 90deg, rgba(2, 0, 36, 1) 0%, rgba(202, 240, 248, 1) 0%, rgba(0, 212, 255, 1) 100%;
    --cor-listas: #48CAE4;
    --cor-cards: #ffffff;
    --cor-button: #03045E;
    --cor-fonteButton: #ffffff;
    --cor-Hover: #1417e4;
    --font-button: 'Grandstander';
    --font-text: cursive
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--font-text);
}

body header {
    background: linear-gradient(var(--cor-headers));
    max-width: 100%;
    width: 100vw;
    height: 10vh;
}

body #Lists{
    display: flex;
    max-height: 100%;
    height: 90vh;
    width: 100vw;
}

body #Lists div{
    margin-top: 10px;
    height: 90%;
    width: 20vw;
    display: block;
    position: relative;
    box-shadow: rgb(182, 181, 181) 1px 1px 3px 3px;
    border-radius: 10px;
    margin-left: 1%;
}

body #Lists div h1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

body #Lists div h3{
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

body #Lists .Card{
    height: 20%;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    
}

body header section {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body header section button {
    border: none;
    background-color: var(--cor-button);
    color: var(--cor-fonteButton);
    height: 50%;
    width: 40%;
    border-radius: 10px;
    box-shadow: rgb(182, 181, 181) 2px 2px 6px 1px;
    font-weight: 700;
    font-family: var(--font-button);
}

body header section button:hover{
    background-color: var(--cor-Hover);
    cursor: pointer;
    box-shadow: rgb(182, 181, 181) 3px 3px 3px 3px;
    transition-duration: 1s;
    height: 53%;
    width: 43%;
    font-size: 16px;
}

body #Form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 40vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgb(182, 181, 181) 1px 1px 3px 3px;
    border-radius: 10px;
}

body div input{
    width: 90%;
    margin: 0 auto;
}

body div textarea{
    max-width: 90%;
    width: 90%;
    height: 40%;
    max-height: 40%;
    margin: 0 auto;
}


body div button{
    width: 30%;
    margin: 0 auto;
    border:none;
    background-color: var(--cor-button);
    font-family: var(--font-button);
    color:#ffffff;
    border-radius: 10px;
    height: 20%;
    font-size: 14px;
}

body div button:hover{
    transition-duration: 1s;
    height: 23%;
    width: 33%;
    font-size: 16px;
    cursor: pointer;
}